.image {
  animation: infinite image-rotation 4s;
  width: 100%; /* Ancho por defecto */
  max-width: 100%; /* Asegura que no supere el ancho del contenedor */
  height: auto; /* Altura ajustada proporcionalmente */
}

/* Media query para celulares */
@media (max-width: 767px) {
  .image {
    width: 90%; /* Ancho del 90% en celulares */
  }
}

/* Media query para tablets y superior */
@media (min-width: 768px) {
  .image {
    width: 30%; /* Ancho del 30% en tablets */
  }
  
  @media (min-width: 992px) {
    .image {
      width: 45%; /* Ancho del 45% en pantallas más grandes */
    }
  }
}


@keyframes image-rotation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-35deg);
    }

    20% {
        transform: rotate(35deg);
    }

    30% {
        transform: rotate(-35deg);
    }
    
    40% {
        transform: rotate(35deg);
    }

    50% {
        transform: translateX(-100px);
    }

    60% {
        transform: translateX(100px);
    }

    70% {
        transform: translateX(-100px);
        transform: translateY(-50px);
    }

    80% {
        transform: translateY(-50px);
    }

    90% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(-100px);
        transform: rotate(0deg);
    }
}

.main-page {
    background-image: url("./img/bg.jpg");
    background-size: cover;
}
